a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 200px;
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgb(0, 132, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}
.navbar ul li {
  padding: 20px;
}

.column-text {
  columns: 3;
  font-family: sans-serif;
}

@media screen and (max-width: 600px) .column-text {
  columns: 2;
}

@media screen and (max-width: 440px) .column-text {
  columns: ;
}

.container5 {
  padding: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1 fr));
  grid-template-rows: minmax(250px, 1fr);
  grid-gap: 30px;
  margin-bottom: 10px;
}

.grid-item5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}



.smaug {
  width: 250px;
  position: absolute;
  top: 120px;
  right: 0;
  animation: dragon 10s infinite;
}

@keyframes dragon{
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
    }
}